@page {
    margin-bottom: 5pt;
    margin-top: 5pt;
}

@font-face {
    font-family: "Apolonia";
    font-style: normal;
    font-weight: normal;
    src: url("../style/Apolonia.otf");
}

@font-face {
    font-family: "Apolonia";
    font-style: normal;
    font-weight: bold;
    src: url("../style/Apolonia-Bold.otf");
}

@font-face {
    font-family: "Apolonia";
    font-style: italic;
    font-weight: normal;
    src: url("../style/Apolonia-Italic.otf");
}

@font-face {
    font-family: "Apolonia";
    font-style: italic;
    font-weight: bold;
    src: url("../style/Apolonia-BoldItalic.otf");
}

@font-face {
    font-family: "Gotika";
    font-style: normal;
    font-weight: normal;
    src: url("../style/Gotika.otf");
}

body {
    display: block;
    font-family: 'Apolonia';
    font-size: 1em;
    margin: 0 5pt;
    padding-left: 0;
    padding-right: 0;
}

div {
    display: block;
}

p {
    display: block;
    text-align: justify;
    margin: 0;
}

a {
    background: transparent;
}

ol {
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0;
}

.author, .title {
    font-size: 2.66em;
    line-height: 1.2;
}

.title_original, .translator {
    font-size: 1.33em;
}

.indent {
    text-indent: 1.5em;
}

.italic {
    font-style: italic;
}

h1.gothica {
    font-family: 'Gotika';
}

.three_stars {
    margin-bottom: 1ex;
    margin-top: 1ex;
    text-align: center;
}

.note_ref {
    font-size: x-small;
    vertical-align: top;
}

.note {
    line-height: 1.5;
}
